<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 합쳐지고 최소화된 최신 CSS 부트스트랩-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <title>Web Page Analysis</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Web Page Analysis</h1>
        </div>

        <form id="singleURLForm">
            <div class="form-group col-xs-6">
                <label for="urlInput">단일URL입력</label>
                <div class="input-group input-group-lg">
                    <input name="url" type="text" class="form-control" id="urlInput" placeholder="분석하고자 하는 URL을 입력하세요.">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" id="upload">업로드</button>
                    </div>
                </div>
            </div>
        </form>

        <ul id="result">

        </ul>

    </div>
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $('#upload').click(function(){
            $.ajax({
                url:'./singleURL',
                type:'post',
                data:$('#singleURLForm').serialize(),
                success:function(){
                    $('#result').empty();
                    var url = '{{URL}}';
                    var total = '{{total}}';
                    var wordDictionary = '{{ wordDictionary|tojson }}';
                    var succeed = '{{succeed}}';
                    if(succeed == false)
                    {
                        $('#result').html('<li>fail</li>');
                        return;
                    }
                    $('#result').html('<li>'+'url: '+url+'</li>');
                    $('#result').html('<li>'+'total: '+total+'</li>');
                    var keys = [];
                    for(var k in wordDictionary) keys.push(k);
                    for(var k in keys)
                    {
                        $('#result').html('<li>'+k+': '+wordDictionary[k]+'</li>');
                    }
                }
            })
        })
    </script>
</body>
</html>