<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 합쳐지고 최소화된 최신 CSS 부트스트랩-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <title>Web Page Analysis</title>
</head>
<body>
    <div class="container">
        <a href="/">
            <div class="page-header text-center">
                <h1>Web Page Analysis</h1>
            </div>
        </a>
    
        <div class="row">
            <form id="singleURLForm" method="POST" action="/singleURL">
                <div class="form-group col-xs-6">
                    <label for="urlInput">단일URL입력</label>
                    <div class="input-group input-group-lg">
                        <input name="url" type="text" placeholder="분석하고자 하는 URL을 입력하세요." class="form-control">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default" id="aeae">업로드</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="row">
            <form id="multiURLForm" method="POST" action="/multiURL" enctype="multipart/form-data">
                <div class="form-group col-xs-10">
                    <label for="exampleInputFile">txt파일 업로드(여러개의 URL)</label>
                    <input name="txt" type="file" id="exampleInputFile">
                    <p class="help-block">분석할 URL들이 적힌 txt파일을 업로드해주세요</p>
                    <button type="submit" class="btn btn-default">업로드</button>
                </div>
            </form>
        </div>

        <div class="row text-center" id="succeedTag">
        </div>
        <!-- <form id="singleURLForm" method="POST" action="/singleURL">
            <input name="url" type="text" placeholder="분석하고자 하는 URL을 입력하세요." class="form-control">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default">업로드</button>
            </div>
        </form> -->

        <div class="row" id="result">
        </div>

        <div class="row">
            <ul id="resultTest">
            </ul>
        </div>
    </div>
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            if ($(location).attr('pathname') == '/singleURL' || $(location).attr('pathname') == '/multiURL')
            {
                //result부분 비우기
                $('#result').empty();

                //분석 성공 여부 출력
                var succeed = '{{succeed}}';
                if (succeed == 'False')
                {
                    $('#succeedTag').append('<h3><span class="label label-danger">URL분석실패</span></h3>');
                    return;
                }
                $('#succeedTag').append('<h3><span class="label label-success">URL분석성공!</span></h3>');

                //result table 초기화
                $('#result').append(
                    `<table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>URL</th>
                                <th>단어 수</th>
                                <th>처리시간</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                        </tbody>
                    </table>`
                );

                if ($(location).attr('pathname') == '/singleURL') 
                {
                    {% if pageStatus == 1 %}
                        var data = JSON.parse('{{wordDictionary|tojson|safe}}');
                    {% endif %}

                    $('#tableBody').append('<tr id="tableRow"></tr>');
                    $('#tableRow').append('<th>' + data["URL"] + '</th>');
                    $('#tableRow').append('<th>' + data['totalWord'] + '</th>');
                    $('#tableRow').append('<th>' + data['caculateTime'] + '초</th>');

                    $('#resultTest').append('<li>' + 'url: ' + data["URL"] + '</li>');
                    $('#resultTest').append('<li>' + 'total: ' + data['totalWord'] + '</li>');
                    $('#resultTest').append('<li>' + 'caculateTime: ' + data['caculateTime'] + '</li>');
                    var keys = [];
                    var wordDictionary = data['wordFrequency_dict'];
                    for (var k in wordDictionary) keys.push(k);
                    for (var k of keys) 
                    {
                        $('#resultTest').append('<li>' + k + ': ' + wordDictionary[k] + '</li>');
                    }
                }
                else if($(location).attr('pathname') == '/multiURL')
                {
                    {% if pageStatus == 2 %}
                        var dataList = JSON.parse('{{ wordDictionaryList | tojson | safe}}');
                    {% endif %}

                    var urlNum = Object.keys(dataList).length;
                    for(var i = 0; i < urlNum; i++)
                    {
                        var data = dataList[i];
                        $('#tableBody').append('<tr></tr>');
                        $('#tableBody').children().last().append('<th>' + data["URL"] + '</th>');
                        $('#tableBody').children().last().append('<th>' + data['totalWord'] + '</th>');
                        $('#tableBody').children().last().append('<th>' + data['caculateTime'] + '초</th>');
                    }
                }
            }   
        })
    </script>

    <!-- <script type="text/javascript">
        $(document).ready(function(){
            $.ajax({
                url:'/',
                type:'post',
                success:function(){
                    $('#result').empty();
                    var succeed = '{{succeed}}';
                    if(succeed == false)
                    {
                        $('#result').html('<li>fail</li>');
                        return;
                    }
                    var data = '{{wordDictionary}}';
                    $('#result').html('<li>'+'url: '+data['URL']+'</li>');
                    $('#result').html('<li>'+'total: '+data['totalWord']+'</li>');
                    $('#result').html('<li>'+'caculateTime: '+data['caculateTime']+'</li>');
                    var keys = [];
                    var wordDictionary = data['wordFrequency_dict'];
                    for(var k in wordDictionary) keys.push(k);
                    for(var k in keys)
                    {
                        $('#result').html('<li>'+k+': '+wordDictionary[k]+'</li>');
                    }
                }
            })
        })
    </script> -->
</body>
</html>